<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/moment.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter" class="platform-android platform-cordova platform-webview">
    
<ion-pane >
   <ion-content ng-controller="Controller" scroll="false">
       
      <div class="menu" ng-show="menu">
        <div id="countdown"></div>
        <h3>Menu de configurações</h3>
        <p>Id da TV.</p>
        <input id="id-input" class="input-menu" type="number" >
        <p>Endereço do servidor.</p>
        <input id="domain-input" class="input-big-menu" type="text" >
        <p>Nome da rede.</p>
        <input id="ssid-input" class="input-menu" type="text"  >
        <p>Senha da rede.</p>
        <input id="password-input" class="input-menu" type="password">

        <button class="btn-menu" ng-click="save();">Salvar</button>
      </div>

      <div class="mk-whater">
       <p id="net-status"></p>
      </div>

      <ion-slide-box ng-hide="menu">
        <ion-slide ng-repeat="image in images">
         <img src="{{ image }}">
        </ion-slide>
      </ion-slide-box>



  </ion-content>
  </ion-pane>   
  </body>
</html>








































