.pane {
	background-color: rgb(0,0,0);
} 

.slide {
  width: 100%;
} 

img {
	width: 100%;
	height: 100%;
	display: block !important;
	margin: 0 auto !important;
}

.mk-whater {	
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 2%;
	z-index: 100;
}

.mk-whater p {
	float: right;
	font-size: 1em;
	color: rgba(255,255,255,0.5);
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-webkit-text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	z-index: 100;
}


.menu {
	width: 100%;
	height: 100%;
	z-index: 103;
	color: #fff;
	padding: 2%;
	background-color: rgb(0,0,0);
}

.menu h1,
.menu h2,
.menu h3,
.menu h4,
.menu h5,
.menu h6,
.menu p {
	z-index: 103;
	color: #fff;
}

.input-menu ,.input-big-menu {
	text-align: center;
	width: 150px;
	z-index: 103;
	color: #fff;
	padding: 5px;
	margin-bottom: 5px;
}

.input-big-menu {
	width: 250px;
}

.btn-menu {
	width: 150px;
	border: 1px solid #fff;
	background-color: rgb(0,0,0);
	z-index: 103;
	color: #fff;
	padding: 5px;
}


.circle-online {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: rgba(35,239,23,0.5);
}

.circle-offline {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: rgba(239,69,23,0.5);
}

.menu #countdown {
    z-index: 103;
	color: #fff;
}